@font-face {
  font-family: "PT SANS";
  src: url("./assets/fonts/PTSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "PT SANS";
  src: url("./assets/fonts/PTSans-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "PT SANS";
  src: url("./assets/fonts/PTSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "PT SANS";
  src: url("./assets/fonts/PTSans-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
}

/* ********************************* */

* {
  font-family: "PT SANS", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: rgb(43, 43, 43);
  margin: 0;
  padding: 0;
}

body {
  padding-bottom: 30px;
}

main {
  padding-bottom: 50px;
}

a {
  text-decoration: none;
  color: rgb(73, 93, 170);
  transition: color 0.2s;
}

a:hover,
a:focus {
  color: rgb(114, 135, 220);
}

p,
li {
  margin: 10px 0;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 36px;
  line-height: 1;
}

h2 {
  font-size: 18px;
  font-weight: 400;
  margin-top: 8px;
}

h3 {
  font-size: 22px;
  padding: 8px 0;
  border-top: 3px solid rgb(43, 43, 43);
  border-bottom: 2px solid rgb(221, 221, 221);
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

.language-bar {
  padding: 10px 0;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.language-bar span {
  color: rgb(125, 125, 125);
}

.header-content {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.subtitle {}

.graphics {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo {
  width: 260px;
  border-radius: 50%;
  height: auto;
}

.photo__mobile {
  display: none;
}

.button-block {
  position: relative;
  margin-top: 20px;
}

.tooltip {
  position: absolute;
  right: -8px;
  top: -8px;
  width: 20px;
  height: 20px;
}

.tooltip__icon {
  display: block;
  font-size: 14px;
  line-height: 1;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border-radius: 50%;
  padding-top: 2px;
  padding-left: 6px;
  background-color: white;
  border: 1px solid rgb(43, 43, 43);
  cursor: pointer;
}

.tooltop__text {
  position: absolute;
  opacity: 0;
  transition: 0.2s;
  z-index: -1;
  right: 18px;
  font-size: 14px;
  width: 250px;
  padding: 10px;
  background-color: rgb(241 241 241);
  border-radius: 2px;
}

.tooltip:hover .tooltop__text {
  z-index: 1;
  opacity: 1;
}

button {
  appearance: none;
  border: 1px solid rgb(43, 43, 43);
  opacity: border-color 0.2s, color 0.2s;
  background-color: transparent;
  padding: 10px;
  border-radius: 2px;
  cursor: pointer;
}

button:hover {
  border-color: rgb(73, 93, 170);
  color: rgb(73, 93, 170);
}

.main-info {
  padding-top: 20px;
}

.info-section {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  line-height: 22px;
}

.info-section:first-child {
  padding-top: 0;
}

.info-section-title {
  margin-bottom: 4px;
}

.label {
  color: rgb(125, 125, 125);
}

.skills {
  padding-top: 30px;
}

.skills-list-wrapper {
  overflow: hidden;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  padding: 16px 0 20px;
  margin-left: -23px;
}

.skills-list li {
  display: flex;
  margin-top: 4px;
  margin-bottom: 0;
}

.skills-list li:before {
  content: '•';
  color: rgb(172, 172, 172);
  display: block;
  margin: 0 8px;
}

.experience {}

.position-info {
  display: flex;
  gap: 30px;
  margin: 30px 0;
}

.position-info:first-of-type {
  margin: 20px 0;
}

/* .position-info:last-of-type {
  margin-bottom: 20px;
} */

.period {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 200px;
}

.period span {
  display: block;
  color: rgb(172, 172, 172);
  margin-top: 2px;
}

.period__mobile {
  display: none;
}

.details-list {
  padding-left: 20px;
}

.details-list li {
  padding-left: 10px;
}

.details-list li:before {
  content: '•';
  color: rgb(172, 172, 172);
  display: inline;
  margin-right: 10px;
  margin-left: -18px;
}

.company-name {
  font-size: 22px;
  font-weight: 700;
}

.position {
  display: block;
  margin: 4px 0 20px;
}

.info-subtitle {
  display: block;
  font-weight: 700;
  margin: 20px 0 2px;
}

.details .skills-list {
  padding: 0;
}

@media all and (max-width: 900px) {
  .period {
    width: 100px;
  }
}

@media all and (max-width: 660px) {
  .photo {
    width: 180px;
  }

  .position {
    margin-bottom: 4px;
  }

  .period {
    width: auto;
  }

  .period span {
    display: inline;
  }

  .period__desktop {
    display: none;
  }

  .period__mobile {
    display: block;
    margin-bottom: 20px;
  }
}

@media all and (max-width: 540px) {
  .header-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .tooltop__text {
    right: -120px;
    top: -79px;
  }

  .graphics .photo {
    display: none;
  }

  .photo__mobile {
    display: block;
    width: 180px;
    margin-top: 20px;
  }
}
